In [10]:
!pip install sqlalchemy pandas tabulate

Requirement already satisfied: sqlalchemy in /usr/local/lib/python3.12/dist-packages (2.0.43)
Requirement already satisfied: pandas in /usr/local/lib/python3.12/dist-packages (2.2.2)
Requirement already satisfied: tabulate in /usr/local/lib/python3.12/dist-packages (0.9.0)
Requirement already satisfied: greenlet>=1 in /usr/local/lib/python3.12/dist-packages (from sqlalchemy) (3.2.4)
Requirement already satisfied: typing-extensions>=4.6.0 in /usr/local/lib/python3.12/dist-packages (from sqlalchemy) (4.15.0)
Requirement already satisfied: numpy>=1.26.0 in /usr/local/lib/python3.12/dist-packages (from pandas) (2.0.2)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.12/dist-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.12/dist-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.12/dist-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.12/dist-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)

In [11]:
import sqlite3
import pandas as pd
from sqlalchemy import create_engine
from tabulate import tabulate

In [12]:
mysql_conn = sqlite3.connect("mysql_sim.db")
cursor = mysql_conn.cursor()

In [13]:
cursor.execute("DROP TABLE IF EXISTS Library")

In [14]:
cursor.execute("""
CREATE TABLE Library (
    BookID INTEGER PRIMARY KEY,
    Title TEXT,
    Author TEXT,
    Year INTEGER,
    Genre TEXT
)
""")

In [15]:
cursor.executemany("""
INSERT INTO Library (BookID, Title, Author, Year, Genre)
VALUES (?, ?, ?, ?, ?)
""", [
    (1, "The Alchemist", "Paulo Coelho", 1988, "Fiction"),
    (2, "Python Crash Course", "Eric Matthes", 2015, "Programming"),
    (3, "Clean Code", "Robert C. Martin", 2008, "Software Engineering"),
    (4, "Sapiens", "Yuval Noah Harari", 2011, "History"),
    (5, "Atomic Habits", "James Clear", 2018, "Self-help")
])
mysql_conn.commit()

In [16]:
df_mysql = pd.read_sql("SELECT * FROM Library", mysql_conn)
print("üìå Data in MySQL Simulation:")
print(tabulate(df_mysql, headers="keys", tablefmt="grid", showindex=False))

üìå Data in MySQL Simulation:
+----------+---------------------+-------------------+--------+----------------------+
|   BookID | Title               | Author            |   Year | Genre                |
+==========+=====================+===================+========+======================+
|        1 | The Alchemist       | Paulo Coelho      |   1988 | Fiction              |
+----------+---------------------+-------------------+--------+----------------------+
|        2 | Python Crash Course | Eric Matthes      |   2015 | Programming          |
+----------+---------------------+-------------------+--------+----------------------+
|        3 | Clean Code          | Robert C. Martin  |   2008 | Software Engineering |
+----------+---------------------+-------------------+--------+----------------------+
|        4 | Sapiens             | Yuval Noah Harari |   2011 | History              |
+----------+---------------------+-------------------+--------+----------------------+
|        5 | Atomic Habits       | James Clear       |   2018 | Self-help            |
+----------+---------------------+-------------------+--------+----------------------+

In [17]:
pg_engine = create_engine("sqlite:///postgresql_sim.db")
df_mysql.to_sql("Library", pg_engine, if_exists="replace", index=False)

5

In [18]:
df_pg = pd.read_sql("SELECT * FROM Library", pg_engine)
print("\nüìå Data in PostgreSQL Simulation:")
print(tabulate(df_pg, headers="keys", tablefmt="grid", showindex=False))

üìå Data in PostgreSQL Simulation:
+----------+---------------------+-------------------+--------+----------------------+
|   BookID | Title               | Author            |   Year | Genre                |
+==========+=====================+===================+========+======================+
|        1 | The Alchemist       | Paulo Coelho      |   1988 | Fiction              |
+----------+---------------------+-------------------+--------+----------------------+
|        2 | Python Crash Course | Eric Matthes      |   2015 | Programming          |
+----------+---------------------+-------------------+--------+----------------------+
|        3 | Clean Code          | Robert C. Martin  |   2008 | Software Engineering |
+----------+---------------------+-------------------+--------+----------------------+
|        4 | Sapiens             | Yuval Noah Harari |   2011 | History              |
+----------+---------------------+-------------------+--------+----------------------+
|        5 | Atomic Habits       | James Clear       |   2018 | Self-help            |
+----------+---------------------+-------------------+--------+----------------------+

In [19]:
if len(df_mysql) == len(df_pg):
    print("\n‚úÖ Migration successful! Row counts match.")
else:
    print("\n‚ùå Migration error! Row counts do not match.")

‚úÖ Migration successful! Row counts match.